.header {
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	background-color: #fff;
	border-bottom: 1px solid rgba(75, 75, 78, 0.1);
	box-sizing: border-box;
}

.header i {
	color: #4b4b4e;
	margin-left: 13px;
	margin-right: auto;
	cursor: pointer;
}

.no_result {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	color: rgba(75, 75, 78, 0.8);
	text-align: center;
	margin-top: 100px;
}

.number {
	margin-top: 65px;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	color: #4b4b4e;
	text-align: center;
}

.result_div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 60px;
	box-sizing: border-box;
	background-color: #fefefe;
}

@media (min-width: 600px) {
	.header {
		height: 64px;
	}
	.number {
		margin-top: 79px;
	}
}

@media (min-width: 900px) {
	.header i {
		margin-right: 100px;
	}
}

@media (min-width: 1200px) {
	.header i {
		margin-right: 150px;
	}
}
