.div {
	position: fixed;
	display: inline-block;
	top: 78%;
	left: 74%;
	z-index: 2;
	text-align: center;
	padding: 16px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #202020;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
}

.div i {
	font-size: 26px;
	color: #fff;
}

.counter {
	width: 20px;
	height: 20px;
	text-align: center;
	color: #fff;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	background-color: red;
	font-size: 12px;
	position: absolute;
	bottom: -3px;
	left: 55%;
	z-index: 3;
	padding: 2px;
	border-radius: 50%;
	box-sizing: border-box;
}

@media (min-width: 600px) {
	.div {
		top: 80%;
		left: 85%;
	}
}

@media (min-width: 900px) {
	.div {
		top: 80%;
		cursor: pointer;
	}
}

@media (min-width: 1200px) {
	.div {
		left: 90%;
	}
}
