.div {
	margin: 0;
	/* padding-left: 30px; */
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.name {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	padding: 7px 50px;
	cursor: pointer;
}

.name:hover {
	background-color: #d3d3d3;
}

.name:active, .name:focus {
	background-color: #d3d3d3;
}