.div {
	margin: 20px 10px;
}

.div div {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	margin-top: 9px;
	margin-bottom: 25px;
}

.div div::-webkit-scrollbar {
	display: none;
}

.div h4 {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	color: #4b4b4e;
	margin-left: 10px;
	display: inline;
}

.div span {
	font-family: 'Roboto', Arial, Helvetica, sans-serif
}

@media (min-width: 600px) {
	.div {
		margin: 20px 15px;
	}
}
