.div div {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.div div::-webkit-scrollbar {
	display: none;
}

.div h4 {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	color: #4b4b4e;
	margin-left: 10px;
	margin-bottom: 0;
}
