.nav_item {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	color: #4b4b4e;
	font-weight: 600;
	font-size: 14px;
	margin: 0 10px;
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.nav_item:hover {
	color: #ea4335;
	border-bottom: 3px solid #ea4335;
}

.right_side {
	width: 100%;
	margin-bottom: 0;
	box-sizing: border-box;
	height: 100vh;
}

.body {
	width: 100%;
	padding: 0;
}

.left_side,
.left_nav {
	display: none;
}

.empty {
	display: none;
}

.footer {
	display: none;
}

#spinnerPos {
	left: 41%;
}

@media (min-width: 900px) {
	.body {
		display: flex;
	}
	#spinnerPos {
		left: 54%;
	}
	.left_nav {
		display: block;
		position: fixed;
		overflow: auto;
		top: 50px;
		height: 100vh;
		width: 28%;
		max-width: 230px;
	}
	.left_side {
		display: block;
		height: 100vh;
		width: 40%;
		max-width: 230px;
	}
	.right_side {
		top: 50px;
		overflow-x: hidden;
	}
	.footer {
		display: flex;
		justify-content: center;
		font-family: "Montserrat", Arial, Helvetica, sans-serif;
		font-weight: 500;
		color: #4b4b4e;
		font-size: 14px;
		padding: 20px;
		width: 100%;
		box-sizing: border-box;
	}
}
