.div {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	margin-top: 20px;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.div button {
	background-color: #48484e;
	border: none;
	width: 40px;
	height: 40px;
	padding: 10px;
	margin: 0 15px;
	border-radius: 50%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	transition: all 0.2s ease-in;
}

.div button:focus,
.div button:active {
	outline: none;
}

.div button:hover {
	cursor: pointer;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.div button:disabled {
	cursor: not-allowed;
	background-color: rgba(72, 72, 78, 0.1);
	box-shadow: none;
}

.div button i {
	color: #fff;
	font-size: 16px;
}

.div span {
	padding-top: 10px;
	font-weight: 500;
	color: #48484e;
}
