.div {
	margin: 0;
	top: 0;
	left: 0;
	position: fixed;
	height: 100vh;
	text-align: center;
	background-color: #fafafa;
	box-sizing: border-box;
}

.header {
	margin: 0;
	padding: 10px 13px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	z-index: 200;
}

.div i.fa-arrow-left {
	color: #48484e;
	font-size: 24px;
}

.header a {
	text-decoration: none;
	color: #1da1db;
	font-weight: 600;
}

.div h1 {
	margin-top: 12vh;
	color: #4b4b4e;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.form {
	margin: 0;
	padding: 0;
}

.input {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	margin: 10px auto;
	width: 80%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px;
	border: 1px solid #d2d0ce;
	transition: width .1s ease-in; 
}

.input:active, .input:focus, .error:active, .error:focus {
	outline: none;
	box-shadow: 0 2px 7px rgba(121, 83, 83, 0.17);
	width: 85%;
	background-color: initial;
}

.input::placeholder {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	color: #48484e;
}

.error {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	margin: 10px auto;
	width: 80%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px;
	border: 1px solid red;
	transition: width .1s ease-in;
}

.div button {
	display: block;
	margin: 10px auto;
	padding: 13px;
	width: 80%;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	border: none;
	color: #fff;
	background-color: #48484e;
	border-radius: 20px;
	transition: box-shadow 500 ease-out
}

.div button:active, .div button:focus {
	outline: none;
	box-shadow: 0 2px 10px rgba(128, 128, 128, 1);
}

.div button:disabled {
	opacity: 0.09;
	color: #fff;
	box-shadow: none;
	cursor: not-allowed;
}

.div p {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	color: #48484e;
}

.div .fb_login {
	background-color: #3b5998;
}