.item {
	width: 95%;
	max-width: 450px;
	border-radius: 7px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	margin: 20px auto;
	padding: 10px;
	box-sizing: border-box;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	background-color: #fff;
}

.top {
	display: flex;
	justify-content: space-between;
	color: #817c87;
}

.name {
	font-weight: 600;
	margin-bottom: 10px;
}

.remove {
	font-size: 22px;
	font-weight: 500;
	cursor: pointer;
}

.remove_notice {
	background-color: #fff;
	border-radius: 5px;
	top: 25% !important;
	left: 10% !important;
	right: 10% !important;
	margin: 0 auto;
	width: 80%;
	max-width: 350px;
	padding: 10px;
	text-align: center;
	color: #4b4b4e;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

.remove_notice button {
	display: block;
	border: none;
	padding: 15px;
	color: #0b0b0c;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	border-radius: 4px;
	width: 90%;
	margin: 10px auto;
	cursor: pointer;
}

.remove_notice button:active button:focus {
	outline: none;
}

.remove_notice button:nth-of-type(1) {
	margin-top: 50px;
	background-color: #0b0b0c;
	color: #fff;
}

.price, .qty_div {
	margin-bottom: 7px;
}

.price, .qty_div, .subTotal, .attribute {
	font-size: 14px;
	font-weight: 600;
	color: #4b4b4e;
}

.qty_div {
	display: flex;
	justify-content: space-between;
}

.change {
	color: #E11010;
	cursor: pointer;
}

.subTotal {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 600px) {
	.remove_notice {
		left: 20% !important;
		right: 20% !important;
		margin: 0 auto;
	}
}