.logo_div {
	margin: 0;
	padding: 20px;
	display: flex;
	align-items: center;
}

.logo_div div {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	padding-top: 5px;
	text-align: center;
	border: 1.5px solid;
	border-top-color: #ea4335;
	border-right-color: #4285f4;
	border-bottom-color: #34a853;
	border-left-color: #fbbc05;
	margin-right: 5px;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #4285f4;
	box-sizing: border-box;
}

.logo_div h2 {
	display: none;
}

@media (min-width: 900px) {
	.logo_div h2 {
		font-family: "Montserrat", Arial, Helvetica, sans-serif;
		color: #48484e;
		font-weight: 700;
		display: block;
	}
}
