.logo_div {
	margin: 0;
	padding: 20px;
	display: flex;
	align-items: center;
}

.logo_div div {
	border: 1.5px solid #48484e;
	border-bottom: none;
	padding: 3px 0 0 5px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight: 600;
}

.logo_div h2 {
	display: none;
}

@media (min-width: 600px) {
	.logo_div h2 {
		font-family: 'Lato';
		color: #ff3300;
		font-weight: 700;
		display: block;
	}
}