.div {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 40%;
	max-width: 130px;
	height: 190px;
	margin: 10px;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	background-color: #fff;
	cursor: pointer;
	transition: transform 0.1s ease-in;
}

.div img {
	border-radius: 4px 4px 0 0;
	height: 72%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.div p {
	display: block;
	padding: 0;
	padding-left: 5px;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	color: #4b4b4e;
}

.price {
	margin: 0;
	margin-top: 5px;
}

.name {
	margin: 3px 0;
	font-size: 12px;
	margin-bottom: 5px;
}

.prodDetailModal {
	display: flex;
	flex-direction: column;
	top: 15% !important;
	left: 10% !important;
	right: 10% !important;
	margin: 0 auto;
	width: 80%;
	max-width: 350px;
	padding: 10px;
	background-color: #fffffa;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
}

.top {
	display: flex;
}

.top img {
	margin: 0 10px 10px 0;
	border-radius: 4px;
	height: 150px;
	width: 47%;
	max-width: 150px;
}

.top .name {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #040405;
	margin-bottom: 40px;
}

.mod_price {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #e11010;
	text-decoration: line-through;
}

.disc_price {
	display: block;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: rgb(2, 2, 46);
	margin-top: 10px;
}

.descr {
	font-family: "Lato", Arial, Helvetica, sans-serif;
	color: #4b4b4e;
}

.prodDetailModal button {
	border: none;
	background-color: #0b0b0c;
	padding: 15px;
	color: #fff;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	border-radius: 4px;
	margin-top: 30px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.attributeModal {
	color: #4b4b4e;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	top: 20% !important;
	left: 10% !important;
	right: 10% !important;
	margin: 0 auto;
	width: 80%;
	max-width: 350px;
	padding: 10px;
	padding-top: 20px;
	background-color: #fff;
	box-sizing: border-box;
}

.attributeModal button {
	cursor: pointer;
}

.div:hover {
	transform: translateY(-8px);
}

@media (min-width: 600px) {
	.prodDetailModal,
	.attributeModal {
		left: 20% !important;
		right: 20% !important;
		margin: 0 auto;
	}
}
